<template>
  <div class="container">
    <h1>Blue Enviroment</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consectetur nec enim et dignissim. Integer sit amet metus volutpat, maximus ligula vitae, malesuada mi. Pellentesque ut rhoncus urna. Ut efficitur et nunc sed placerat. Duis ac scelerisque tortor, id vulputate elit. Pellentesque consectetur laoreet lectus, vel molestie augue finibus sit amet. Donec ornare dapibus leo sit amet venenatis. Donec vel eros vulputate, porttitor tellus at, egestas elit. Vestibulum sapien mauris, dapibus molestie metus in, rutrum lacinia libero. Nullam convallis congue orci in dignissim. Nulla facilisi. Donec ac ullamcorper quam, quis pretium neque. Suspendisse lobortis massa in ipsum ullamcorper, sed feugiat lectus sollicitudin. Nulla at turpis eu neque venenatis efficitur id eget leo. Curabitur pharetra odio quis volutpat elementum..
    </p>
    <p>
      Nullam mattis sagittis sapien in venenatis. Sed id neque mi. Aenean efficitur placerat leo at rhoncus. Nulla feugiat purus ut massa venenatis elementum. Suspendisse iaculis condimentum diam, quis accumsan eros luctus eget. Sed ut velit quis orci semper hendrerit. Aliquam lectus felis, volutpat interdum vulputate in, varius quis ipsum.
    </p>
    <p>
      Sed sollicitudin a urna quis mattis. Nullam rutrum lorem commodo gravida tristique. Maecenas sit amet risus maximus, ullamcorper tortor nec, congue felis. Nulla accumsan dignissim risus, id sagittis massa posuere vel. Proin a lobortis arcu, a lobortis libero. Suspendisse velit ipsum, porttitor ac tristique vitae, sodales id est. Etiam ut porttitor massa, id maximus sapien. Integer nunc dui, consequat in neque sit amet, faucibus ullamcorper odio. Pellentesque sodales elit ut quam consectetur commodo. Donec sem sem, efficitur ac sem non, aliquet tempor felis. Pellentesque ac eleifend tellus. Sed non lacinia quam. Donec sed quam sed metus condimentum tempus sed vitae orci. Aenean nec quam laoreet, dapibus nulla et, egestas nisi.
    </p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({})
</script>

<style>
:root {
  --red: #f5afaf;
  --green: #aff5c0;
  --blue: #afdbf5;
}

body {
  background-color: var(--blue);
}

h1 {
  color: #333333;
}

.container {
  margin: 2em 7vw;
}
</style>
